*{
    font-size: xx-large;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    height: 1200px;
    background-color: aqua;
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
header{
   grid-area: 1/1/3/9;
    border: 1px black solid;
    position: relative;
}
#menuBtn{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 1px black solid;
    display: none;
}
.mainSec{
    grid-area: 3/1/8/9;
    border: 1px black solid;

}
#menu{
    display: grid;
    border: 1px black solid;
    grid-area: 1/9/8/-1;
    z-index: 1;
    grid-template-rows:25% 25% 25% 25%;
}
#menu div{
    border-bottom:black 1px solid;
}
footer{
    grid-area: 8/1/-1/-1;
    border: 1px black solid;

}
